%clearfix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.quest-item {
  padding: 20px;
  font-size: 17px;
  margin-top: 30px;
}

.schedule-wrap {
  float: left;
  display: block;
  width: 100%;
  margin-top: 20px;
  &-week {
    @extend %clearfix;
    float: left;
    display: block;
    width: 100%;
    margin-top: 10px;
    &-day {
      float: left;
      position: relative;
      width: 13%;
      border: 1px solid black;
      margin-left: 3px;
      border-radius: 5px;
      text-align: center;
      padding-top: 5px;
      &--title {
        height: 30px;
        text-transform: uppercase;
        font-weight: bold;
        float: left;
        width:100%;
      }
      &--item {
        float: left;
        width:100%;
        margin-bottom: 5px;
        .icon {
          margin: 0 3px;
          &-edit {
            color: #0077ff;
          }
          &-del {
            color: #00ad1a;
          }
          &-unlock {
            color: #00AA00;
          }
        }
      }
      &-time {
        float: left;
        display: block;
        width: 90%;
        height: 10px;
        border: 1px solid darkred;
        margin: 10px 0 10px 0;
      }
    }
  }
}

.schedule-front {
  display: block;
  float: left;
  width: 100%;
  &-week {
    display: block;
    float: left;
    width: 100%;
    &-day {
      display: block;
      float: left;
      width: 95%;
      height: 50px;
      background-color: #fff;
      margin: 3px;
      padding: 5px;
      box-sizing: border-box;
      &--title {
        float: left;
        width: 90px;
        background-color: #00a0d2;
      }
      &--item {
        float: left;
        margin: 0 15px;
        width: 75px;
        cursor: pointer;
        &-time {
          display: block;
          float: left;
          width: 100%;
          height: 20px;
          background-color: #00AA00;
        }
        &-price {
          display: block;
          float: left;
          width: 100%;
          height: 20px;
          background-color: #5fc5ee;
        }
      }
    }
  }
}

.lock {
  background-color: #9ea476;
}

.empty-item {
  width: 0px;
}

.title-holiday {
  background-color: #942a25;
}

@media only screen and (max-width: 1024px) {
  .schedule-front {
    &-week {
      &-day {
        height: auto;
        &--title {
          float: none;
        }
        &--item {
          margin-top: 5px;
        }
      }
    }
  }
}


/*
Вывод расписания front
*/

@media (min-width: 1200px) {
  .container {
    width: 1090px;
    margin: 0 auto;
    padding: 0 5px;
  }
}

html {
  width: 100%;
}

body {
  /*background-color: #3a3a3d;*/
}

* {
  box-sizing: border-box;
}

input[type='text']:focus{
  outline: none;
}

.scedual {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  padding: 31px 0 58px;
  &__title {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 0 0 33px;
    font: 18px/20px 'Roboto', Arial, Helvetica, sans-serif;
    img {
      vertical-align: middle;
      margin: 0 0 3px 5px;
    }
  }
  &__today {
    display: block;
    position: relative;
    width: 1027px;
    height: 33px;
    float: left;
    border: 1px solid #595959;
    p {
      display: inline-block;
      position: relative;
      width: 227px;
      float: left;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      padding: 7px 24px;
      margin: 0px;
      /*margin-left: -13px;*/
      text-align: center;
    }
    &--week {
      display: inline-block;
      position: relative;
      width: 798px;
      float: left;
      list-style: none;
      padding-left: 0px;
      margin: 0px;
      li {
        display: inline-block;
        float: left;
        width: auto;
        height: 30px;
        margin-top: 1px;
        a {
          display: inline-block;
          position: relative;
          width: 57px;
          height: auto;
          color: #666;
          text-align: center;
          text-decoration: none;
          line-height: 30px;
          &:hover {
            background-color: #e5200e;
          }
        }
        .day-off {
          color: #e5200e;
          &:hover {
            color: white;
          }
        }
      }
      li.active {
        background-color: #e5200e;
        a {
          color: white;
        }
      }
    }
  }
  &__days {
    display: block;
    position: relative;
    width: 1073px;
    height: 33px;
    float: left;
    border: 1px solid transparent;
    margin-bottom: 32px;
    p {
      display: inline-block;
      position: relative;
      width: 227px;
      float: left;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      padding: 7px 24px;
      margin: 0px;
      /*margin-left: -13px;*/
      text-align: center;
    }
    &--week {
      display: inline-block;
      position: relative;
      width: 798px;
      float: left;
      list-style: none;
      padding-left: 0px;
      margin: 0px;
      li {
        display: inline-block;
        float: left;
        width: auto;
        height: 30px;
        margin-top: 1px;
        span {
          display: inline-block;
          position: relative;
          width: 57px;
          height: auto;
          color: #666;
          text-align: center;
          text-decoration: none;
          line-height: 30px;
        }
        .day-off {
          color: #e5200e;
          &:hover {
            color: #e5200e;
          }
        }
      }
    }
  }
  /*price-box*/
  .price__box {
    width: 100%;
    float: left;
  }
  .title {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 34px;
    float: left;
    background-color: #323234;
    margin-right: 12px;
    margin-top: 0px;
    margin-bottom: 1px;
    padding-top: 4px;
    border-bottom: 1px solid #444445;
    color: white;
    text-align: center;
  }
  .field {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 34px;
    color: #fff;
    background-color: #323234;
    border-bottom: 1px solid #444445;
  }
  .price__box_line {
    float: left;
    width: 100%;
    text-align: left;
  }
  .price__day {
    display: inline-block;
    position: relative;
    width: 20%;
    float: left;
    background-color: #323234;
    margin-right: 12px;
    border-right: 1px solid #444445;
    p {
      font-size: 14px;
      padding-left: 30px;
      margin-bottom: 18px;
      color: #fff;
      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .day-off {
      color: red;
    }
  }
  .price__box:nth-of-type(even) .price__box_line .price__day {
    background-color: #444445;
  }
  .price__box:nth-of-type(even) .price__box_line .price__item_price-inner {
    background-color: #323234;
  }
  .price__box:nth-of-type(odd) .price__box_line .price__item {
    background-color: #444445;
  }
  .price__box:nth-of-type(odd) .price__box_line .price__item_price-inner {
    background-color: #444445;
  }
  .price__item {
    display: inline-block;
    position: relative;
    width: auto;
    /*float: left;*/
    color: #fff;
    /*margin: 0 2px;
    padding: 0px 5px;*/
    background-color: #323234;
  }
  .price__item--quest {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 82px;
    color: #fff;
    background-color: #323234;
    ul {
      list-style: none;
      padding-left: 20px;
    }
  }
  .book-quest {
    display: inline-block;
    text-align: left;
    color: white;
    text-decoration: underline !important;
    margin-top: 17px;
    &:hover {
      color: white;
      text-decoration: none !important;
      background-color: transparent !important;
    }
  }
  .price__item ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: 7px 0px;
  }
  .price__item ul li {
    display: inline-block;
    padding: 5px 15px;
    /*margin: 0px 2px;*/
  }
  .price__item ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      background-color: red;
    }
  }
  .price__item ul li a.late {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: gray;
      background-color: transparent;
    }
  }
  span.line {
    position: absolute;
    left: 0;
    bottom: 11px;
    height: 1px;
    width: 100%;
    background-color: gray;
    text-align: center;
  }
  span.price__item_price {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    color: red;
    font-weight: bold;
    box-sizing: border-box;
    padding: 5px 0;
    margin-bottom: 12px;
  }
  span.price__item_price:before {
    content: '';
    display: block;
    clear: both;
    height: 5px;
    width: 1px;
    position: absolute;
    right: 0;
    bottom: 9px;
    background-color: gray;
    transform: translateY(-50%);
    z-index: 0;
  }
  span.price__item_price:after {
    content: '';
    display: block;
    clear: both;
    height: 5px;
    width: 1px;
    position: absolute;
    left: 0;
    bottom: 9px;
    background-color: gray;
    transform: translateY(-50%);
    z-index: 0;
  }
  .price__item_price-inner {
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #373739;
  }
  /*close price-box*/
}

/*modal*/
#modal_form {
  width: 398px;
  height: auto;
  /*border-radius: 5px;*/
  /*border: 3px #000 solid;*/
  background: #fff;
  position: absolute;
  /*top: 45%;*/
  left: 33%;
  /*margin: 0 0 0 -232px;*/
  padding: 48px 39px 28px 28px;
  display: none;
  opacity: 0;
  z-index: 6;
  .row {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin: 0 0 13px;
    span {
      display: inline-block;
      position: relative;
      width: 20%;
      float: left;
      text-transform: uppercase;
      color: #3d3d40;
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
      margin: 14px 0 0;
    }
    .description {
      display: inline-block;
      position: relative;
      float: left;
      width: 80%;
      color: #3d3d40;
      margin-top: 10px;
      line-height: 21px;
      input[type='text']{
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        padding: 0px 22px;
      }
    }
    .price{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      margin-top: 30px;
    }
    .title{
      margin-left: 20%;
    }
    .cost{
      width: 60%;
      font-size: 36px;
      text-transform: none;
      line-height: 0px;
    }
  }
}
.modal_but {
  display: block;
  position: relative;
  width: 80%;
  height: 45px;
  float: left;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 45px;
  background-color: #e5200e;
  margin-left: 20%;
  margin-top: 40px;
  z-index: 15;
}
#modal_form #modal_close {
  font-family: 'Open Sans', sans-serif;
  width: 12px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}

#overlay {
  z-index: 5;
  position: fixed;
  background-color: #000;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}


/*close modal*/
